.favorites-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  background-color: white;
  position: absolute;
  top: 13%;
  z-index: 1;

  .chosen {
    background-color: rgb(72, 72, 216);
    color: white;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid rgb(183, 183, 183);

    h3 {
      text-align: center;
      word-break: break-all;
    }
  }
}

.submit-button {
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: flex-end;
  //   position: relative;
  //   width: 100vw;
  //   height: 100vh;
  //   z-index: 0;

  .check-button {
    width: 100px;
    border: 3px solid green;
    background-color: green;
    color: white;
  }
}
