.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h2 {
    color: white;
  }

  .options {
    display: flex;
    gap: 30px;
  }
}
