.prem,
.la-liga {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
  color: white;
  align-items: center;
}

header {
  width: 25vw;
  text-align: center;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table tr {
  text-align: right;
  border-top: 1px solid #edeef0;
}

.league-table {
  display: flex;
  flex-direction: column;
}

.standings {
  width: 25vw;
  background-color: #154586;
  color: white;
  border: 2px solid white;
}

tbody a {
  text-decoration: none;
  color: inherit;
}

.team-name {
  text-align: center;
}

.team-name:hover {
  outline: 1px solid white;
}
