.matches-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  top: 83px;
  position: relative;
  z-index: 0;
  background-color: #f1f3f8;

  .switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: #155fff;
    position: relative;
    margin-top: 20px;
    padding-right: 90px;
    position: relative;
    border: 1px solid #152e96;

    &:before {
      content: "FAVORITES";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -7px;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      pointer-events: none;
    }

    &-checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;

      &:checked + .switch-button-label:before {
        transform: translateX(90px);
        transition: transform 200ms linear;
      }

      & + .switch-button-label {
        position: relative;
        padding: 10px 10px 10px 0;
        display: block;
        user-select: none;
        pointer-events: none;

        &:before {
          content: "";
          background: rgb(205, 205, 205);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 30px;
          transform: translateX(-15px);
          transition: transform 300ms;
        }

        .switch-button-label-span {
          position: relative;
        }
      }
    }
  }

  .same-day-match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
    width: 100vw;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    position: relative;

    .match-date-title {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;

      h2 {
        width: max-content;
        font-size: 19px;
        font-weight: 600;
        letter-spacing: 3px;
        color: #152e96;
      }
    }

    .match {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1200px;
      gap: 40px;
      padding: 10px;
    }
  }
}
