.profile-container {
  .profile-favorites {
    display: flex;
    align-items: center;
    min-height: 80px;

    .favorite-teams {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;
      min-height: 100%;

      .favorite-image {
        height: 40px;
        width: 40px;
      }
    }

    .favorites-button-container {
      max-width: max-content;
    }
  }

  .add-favorites {
    width: 70px;
    height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    transition: 0.15s ease-in-out;

    &:hover {
      background-color: gray;
      color: #fff;
    }
  }

  .gradient-custom {
    background: #4a5ad3;

    background: -webkit-linear-gradient(
      to right bottom,
      rgb(93, 153, 227),
      rgb(32, 79, 187)
    );

    background: linear-gradient(
      to right bottom,
      rgb(93, 153, 227),
      rgb(32, 79, 187)
    );
  }
}
