.today-matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  width: 100vw;
  text-align: center;
  margin: 10px 0 10px 0;

  h6 {
    margin: 10px 0;
  }

  .today-matches-wrapper::-webkit-scrollbar {
    height: 10px;
  }

  .today-matches-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;

    &:hover {
      background-color: rgb(159, 159, 159);
    }
  }

  .today-matches-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    max-width: 100vw;
    height: 150px;
    gap: 20px;
    padding: 0 15px;

    .today-match-item {
      border: 1px solid gray;
      width: 110px;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      outline: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);
      -webkit-box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);
      -moz-box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);

      &:hover {
        outline: 2px solid gray;
        transform: translateY(-5px);
      }

      .match-time {
        font-size: 14px;
        font-weight: bolder;
      }

      .fixture-score {
        font-size: 15px;
        font-weight: bolder;
      }

      img {
        max-width: 40px;
      }

      .today-match-team-logos {
        display: flex;
        justify-content: space-around;
      }

      .today-match-time {
        padding: 5px;

        h6 {
          font-size: 12px;
          font-weight: bolder;
          margin: 0;
        }
      }
    }
  }
}
