.matches-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  place-content: center;
  gap: 20px;
  width: 100vw;
  height: max-content;
  top: 83px;
  position: relative;
  z-index: 0;
  justify-items: center;
  background-color: #f1f3f8;
}
