.match-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4800px;
  max-width: 480px;
  max-height: 150px;
  height: 140px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);
  -webkit-box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);
  -moz-box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);

  &:hover {
    background-color: rgb(228, 226, 226);
  }

  .match-game {
    font-size: 13px;
    text-align: center;
    margin: 0 0 10px 0;
  }

  .team-logos {
    display: flex;
    justify-content: center;
    width: 100%;

    .team-logo-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 190px;
      cursor: pointer;
      border-radius: 10px;
      transition: 0.1s ease-in-out;

      &:hover {
        background-color: white;
      }

      .team-name {
        width: 100px;

        .team-one-name,
        .team-two-name {
          width: 100px;
        }

        .team-one-name,
        .team-two-name {
          text-align: center;
          font-size: 17px;
        }
      }
    }

    .team-logo {
      max-height: 50px;
      max-width: 50px;
      padding: 5px;
    }

    .time {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px;
      min-width: 60px;

      .match-time {
        display: flex;
        font-size: 13px;
        position: relative;

        .live-dot {
          display: flex;
          justify-content: center;
          width: 50px;

          &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            top: 8px;
            left: 0;
            border-radius: 50%;
            background-color: red;
            animation: grow infinite 2s;
          }
        }
      }

      .match-result {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .home-goals {
          padding-left: 5px;
          font-size: 20px;
          font-weight: 500;
        }

        .away-goals {
          padding-right: 5px;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }

  .see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
    height: 20px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: rgb(88, 88, 246);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgb(88, 88, 246);
      color: white;
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
