.league {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
  color: white;
  align-items: center;

  .league-table {
    display: flex;
    flex-direction: column;
  }

  header {
    width: 30vw;
    text-align: center;

    h1 {
      color: white;
    }
  }

  .standings {
    max-height: 500px;
    width: 30vw;
    background-color: #154586;
    color: white;
    border: 2px solid white;
  }

  table tr {
    text-align: right;
    border-top: 1px solid #edeef0;

    th {
      border-bottom: 1px solid white;
    }

    .right {
      text-align: center;

      &:hover {
        cursor: default;
      }
    }

    .left {
      text-align: left;
    }
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    .team-name {
      display: flex;
      align-items: center;
      text-align: left;
      gap: 10px;

      &:hover {
        outline: 1px solid white;
        cursor: pointer;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
