.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .register-form {
    width: 420px;

    .register-title {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .upload-image {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 95%;
      margin: 0 0 20px 0;

      .avatar {
        width: 55%;
      }

      .avatar-image {
        width: 40px;
        height: 40px;
      }

      .uploaded-image {
        width: 50px;
        height: auto;
        border-radius: 5px;
        background-size: cover;
      }
    }
  }
}
