.news-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
  border: 1px solid white;
  max-width: 400px;
  max-height: 320px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .post-profile-image {
    border-radius: 50%;
  }

  .post-info {
    display: flex;
    width: 400px;
    padding: 0 10px;
    align-items: center;

    .post-image {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      border-radius: 50%;
    }

    .post-info-text {
      padding-left: 10px;
    }
  }
}

.post-image-container {
  display: flex;
  justify-content: center;

  .post-image {
    border-radius: 15%;
    margin: 10px 0;
  }
}
