.news-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid white;
  max-width: 300px;
  max-height: 280px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .post-profile-image {
    border-radius: 50%;
  }

  .post-info {
    display: flex;
    width: 300px;
    padding: 0 10px;
    align-items: center;

    .post-image {
      margin: 0 10px;
      border-radius: 50%;
    }

    .post-info-text {
      padding-left: 10px;

      .post-title {
        margin: 5px;
      }

      .post-p {
        margin: 10px;
      }
    }
  }
}

.post-image-container {
  display: flex;
  justify-content: center;
  max-height: max-content;
  margin-bottom: 10px;

  .post-image {
    border-radius: 10px;
  }
}
