.news-posts {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  height: 380px;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);
  -webkit-box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);
  -moz-box-shadow: 6px 4px 14px -5px rgba(33, 32, 32, 0.79);

  .post-profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .post-profile-image {
    margin: 0 10px;
    border-radius: 50%;
    height: auto;
    max-width: 150px;
  }

  .post-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    height: 55%;

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      margin-top: 10px;

      .details-btn {
        background-color: #1877f2;
        border: none;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 11px;
        height: 20px;
        line-height: 20px;
        margin-left: 8px;
        margin-right: 6px;
        width: 70px;
        padding: 0 10px 0 10px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #e4e6eb;
          color: #050505;
          transition: 0.3s;
        }
      }
    }

    .post-title {
      margin: 5px;
      font-size: 16px;
      max-height: 55px;
      min-height: 55px;
    }

    .post-p {
      display: flex;
      justify-content: center;
      margin: 0;
      font-size: 12px;
      max-height: 80px;
      min-height: 70px;
    }
  }
}

.post-image-container {
  display: flex;
  justify-content: center;
  max-height: max-content;
  margin-bottom: 10px;
  max-height: 170px;
  position: relative;
  bottom: -44%;

  .post-image {
    position: absolute;
    bottom: -10px;
    min-width: 100%;
    height: 100%;
    min-height: 165px;
    background-position: center;
    object-fit: cover;
  }
}
