.league {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
  color: white;
  align-items: center;
  position: relative;
  top: 85px;

  .UEFA-Champions-League {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 20px;
  }

  header {
    width: 30vw;
    text-align: center;

    h1 {
      color: black;
      margin-top: 0;
    }
  }

  .standings {
    max-height: 500px;
    width: 30vw;
    max-width: 350px;
    min-width: 280px;
    background-color: #154586;
    color: white;
    border: 2px solid white;
  }

  table tr {
    text-align: right;
    border-top: 1px solid #edeef0;

    th {
      border-bottom: 1px solid white;
    }

    .right {
      text-align: center;

      &:hover {
        cursor: default;
      }
    }

    .left {
      text-align: left;
    }
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

    .team-name {
      display: flex;
      align-items: center;
      text-align: left;
      gap: 10px;

      &:hover {
        outline: 1px solid white;
        cursor: pointer;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
