h2 {
  text-align: center;
  margin: 0 30px 10px 30px;
  width: 160px;
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  max-height: max-content;
  min-height: 300px;
  color: white;
  overflow-x: scroll;

  .post {
    position: absolute;
  }
}
