h2 {
  text-align: center;
  min-width: 200px;
  margin: 20px;
}

.news-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 80px;
  width: 100vw;
  height: max-content;
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: max-content;
  min-height: 300px;
  gap: 25px;
}

::-webkit-scrollbar {
  display: none;
}
