.news-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  padding-bottom: 60px;

  h6 {
    text-align: center;
    min-width: 200px;
    margin: 20px;
  }
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: max-content;
  min-height: 70vh;
  gap: 25px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1430px) {
  .news-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 20px;
    row-gap: 40px;
    column-gap: 40px;
  }
}
